dotenv
langchain
langchain-google-genai
langchain-huggingface
langchain-core
langchain-community
langchain-text-splitters
langgraph
langsmith
sentence-transformers
langchain-chroma
chromadb
pypdf
streamlit
pydantic

